/* Font */

@font-face {
    font-family: "Adelle_Sans_Heavy";
    src: url("../font/adelle-sans/Adelle_Sans_Heavy.otf");
}

@font-face {
    font-family: "Adelle_Sans_Extrabold";
    src: url("../font/adelle-sans/Adelle_Sans_Extrabold.otf");
}

@font-face {
    font-family: "Adelle_Sans_Bold";
    src: url("../font/adelle-sans/Adelle_Sans_Bold.otf");
}

@font-face {
    font-family: "Adelle_Sans_Semibold";
    src: url("../font/adelle-sans/Adelle_Sans_Semibold.otf");
}

@font-face {
    font-family: "Adelle_Sans_Regular";
    src: url("../font/adelle-sans/Adelle_Sans_Regular.otf");
}

@font-face {
    font-family: "Adelle_Sans_Light";
    src: url("../font/adelle-sans/Adelle_Sans_Light.otf");
}

@font-face {
    font-family: "Adelle_Sans_Thin";
    src: url("../font/adelle-sans/Adelle_Sans_Thin.otf");
}

/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

body p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

:root {
    --Adelle_Sans_Heavy: "Adelle_Sans_Heavy";
    --Adelle_Sans_Extrabold: "Adelle_Sans_Extrabold";
    --Adelle_Sans_Bold: "Adelle_Sans_Bold";
    --Adelle_Sans_Semibold: "Adelle_Sans_Semibold";
    --Adelle_Sans_Regular: "Adelle_Sans_Regular";
    --Adelle_Sans_Light: "Adelle_Sans_Light";
    --Adelle_Sans_Thin: "Adelle_Sans_Thin";

    --primaryColor: #D9241B;
    --secondaryColor: #291770;
    --whiteColor: #fff;
    --headingColor: #08172E;
    --textColor: #777C83;
    --blackColor: #000000;
}
.brand-color{
    color: var(--primaryColor) !important;
}
.red-btn {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: 1px solid var(--primaryColor);
    transition: .5s;
}

.blue-btn {
    background-color: var(--headingColor);
    color: var(--whiteColor);
    border: 1px solid var(--headingColor);
    transition: .5s;
}

.white-btn {
    background-color: transparent;
    color: var(--whiteColor);
    border: 1px solid var(--whiteColor);
    transition: .5s;
}

.btn-link {
    text-decoration: none !important;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button:hover {
    color: var(--whiteColor);
}

.section-gap {
    margin: 80px 0px;
}

/* Header & Footer */

.topbar-wrapper {
    background-color: var(--secondaryColor);
}

.topbar-wrapper p {
    color: var(--whiteColor);
    font-family: var(--Adelle_Sans_Regular);
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
}

.topbar-wrapper p .seprate-text {
    color: var(--primaryColor);
    font-weight: 500;
}

.topbar-wrapper .topbar-link .t-link{
    border: 1px solid #FFFFFF2B;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: var(--whiteColor);
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    margin: 0px 5px;
    display: block;
    transition: .3s;
}

.topbar-wrapper .topbar-link .t-link:hover{
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.custom-navbar {
    background-color: var(--whiteColor);
    padding: 14px;
}

.custom-navbar .nav-item .nav-link,
.custom-navbar .navbar-contact-info h5 {
    text-transform: uppercase;
}

.custom-navbar.navbar-light .nav-item .nav-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--headingColor);
}

.custom-navbar.navbar-light .nav-item .nav-link.active {
    color: var(--primaryColor);
}

.custom-navbar .navbar-contact-info .icon {
    width: 55px;
    height: 55px;
}

.custom-navbar .navbar-contact-info h5 {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    margin: 0;
}

.custom-navbar .navbar-contact-info p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: var(--textColor);
}

.main-footer {
    background-image: url("../image/footer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: left;
    position: relative;
}

.footer-content {
    color: #ffffff;
    padding: 60px 40px !important;
    background-color: #001F3F;
}

.footer-column .seprater::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 15px 0px 20px;
}

.footer-column .footer-logo {
    width: 150px;
    background-color: var(--whiteColor);
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
}

.footer-column p,
.footer-column a {
    color: #B0BAC7;
    text-decoration: none;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.footer-column a:hover {
    color: var(--primaryColor);
}

.appointment-info {
    display: flex;
    align-items: center;
}

.appointment-info .icon {
    width: 55px;
    height: 55px;
}

.back-to-top {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primaryColor);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0px;
    color: var(--headingColor);
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

/* Home page */

.main-banner-wrapper {
    position: relative;
    max-height: 840px;
}

.main-banner-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(8, 23, 46, 0.62) 0%, rgba(48, 28, 10, 0.63) 100%);
}

.main-banner-wrapper img {
    max-height: 840px;
    object-fit: cover;
    width: 100%;
    min-height: 700px;
}

.main-banner-wrapper .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 680px;
}

.main-banner-wrapper .banner-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    display: block;
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-banner-wrapper .banner-content h2 {
    font-family: var(--Adelle_Sans_Extrabold);
    font-size: 48px;
    font-weight: 800;
    line-height: 54px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-banner-wrapper .banner-content h2::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-banner-wrapper .banner-content p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--whiteColor);
}

.main-banner-wrapper .banner-content .banner-action {
    margin-top: 20px;
    gap: 20px;
}

.main-banner-wrapper .banner-content .banner-action .button {
    width: 158.58px;
    height: 54px;
    padding: 18px 18.58px 18px 19px;
}

.main-about-us .about-us-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-about-us .about-us-content h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    text-transform: uppercase;
    color: var(--headingColor);
    margin-top: 20px;
}

.main-about-us .about-us-content h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px 0px;
}

.main-about-us .about-us-content .button {
    width: 147.92px;
    height: 54px;
    padding: 18px 19.92px 18px 20px;
    margin-top: 20px;
}

.main-about-us .our-mission-wrapper {
    background-color: #F5F5F5;
    padding: 10px 20px;
    margin-bottom: 10px;
    height: 50%;
    box-sizing: border-box;
}

.main-about-us .our-mission-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
    margin: 10px 0px;
}

.main-about-us .our-mission-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--textColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-about-us .our-mission-wrapper .btn-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-about-us .our-vision-wrapper {
    background-color: var(--headingColor);
    padding: 10px 20px;
    height: 50%;
    box-sizing: border-box;
}

.main-about-us .our-vision-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    margin: 10px 0px;
}

.main-about-us .our-vision-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-about-us .our-vision-wrapper .btn-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-about-us .about-us-image img {
    max-height: 544px;
}

.main-global-wrapper {
    position: relative;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-global-wrapper::after {
    content: "";
    position: absolute;
    height: 756px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(8, 23, 46, 0.62) 0%, rgba(48, 28, 10, 0.63) 100%);
}

.main-global-wrapper>img {
    height: 756px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-global-wrapper .global-content {
    z-index: 1;
}

.main-global-wrapper .global-content .content-heading {
    padding: 80px 0px 50px;
}

.main-global-wrapper .global-content .content-heading span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-global-wrapper .global-content .content-heading h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-global-wrapper .global-content .content-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-global-wrapper .global-content .content-heading p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--whiteColor);
    max-width: 556px;
    margin: 0 auto;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper {
    position: relative;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #08172ee6;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper img {
    max-height: 566px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 50px 30px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content h3 {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--whiteColor);
    margin-bottom: 40px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content ul {
    margin-bottom: 40px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content li {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--whiteColor);
    margin-bottom: 15px;
}

.main-global-wrapper .global-content .content-body .distribution-wrapper .distribution-content .button {
    width: 152.39px;
    height: 54px;
    padding: 14px 34.67px 14px 35px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper {
    background-color: var(--whiteColor);
    padding: 50px 30px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper h3 {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 30px;
    font-weight: 500;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    margin-bottom: 40px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-container {
    max-width: 100%;
    margin: 20px 0px;
    font-family: Arial, sans-serif;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-label {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-bar {
    height: 5px;
    background-color: #e6e6e6 !important;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-fill {
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-fill.red {
    background-color: var(--primaryColor);
}

.main-global-wrapper .global-content .content-body .our-value-wrapper .progress-fill.blue {
    background-color: var(--headingColor);
}

.main-service .service-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-service .service-content h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    text-transform: uppercase;
    color: var(--headingColor);
    margin-top: 20px;
}

.main-service .service-content h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px 0px;
}

.main-service .service-content .button {
    width: 147.92px;
    height: 54px;
    padding: 18px 19.92px 18px 20px;
    margin-top: 20px;
}

.main-service .feedback-wrapper {
    background-color: #F5F5F5;
    padding: 30px;
    height: 50%;
}

.main-service .feedback-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
    margin: 10px 0px;
}

.main-service .feedback-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--textColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-service .feedback-wrapper .btn-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-service .register-wrapper {
    background-color: var(--headingColor);
    padding: 30px;
    height: 50%;
}

.main-service .register-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    margin: 10px 0px;
}

.main-service .register-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-service .register-wrapper .btn-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-service .supplier-wrapper {
    background-color: var(--primaryColor);
    padding: 30px;
    height: 50%;
}

.main-service .supplier-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    margin: 10px 0px;
}

.main-service .supplier-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-service .supplier-wrapper .btn-link {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-service .conditions-wrapper {
    padding: 30px;
    background-image: url("../image/home/condition-service.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-service .conditions-wrapper::after {
    content: "";
    background-color: #08172e8c;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-service .conditions-wrapper p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
    margin: 10px 0px;
    z-index: 1;
}

.main-service .conditions-wrapper span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
}

.main-service .conditions-wrapper .button {
    width: 164.02px;
    height: 54px;
    z-index: 1;
}

.main-testimonial-wrapper {
    position: relative;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-testimonial-wrapper::after {
    content: "";
    position: absolute;
    height: 446px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(8, 23, 46, 0.62) 0%, rgba(48, 28, 10, 0.63) 100%);
}

.main-testimonial-wrapper>img {
    height: 446px;
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-testimonial-wrapper .testimonial-content {
    z-index: 1;
}

.main-testimonial-wrapper .testimonial-content .content-heading {
    padding: 80px 0px 50px;
}

.main-testimonial-wrapper .testimonial-content .content-heading span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-testimonial-wrapper .testimonial-content .content-heading h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-testimonial-wrapper .testimonial-content .content-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-testimonial-wrapper .testimonial-content .content-heading p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--whiteColor);
    max-width: 556px;
    margin: 0 auto;
}

.main-testimonial-wrapper .testimonial-content .content-body .testimonial-box {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 50px 0px 50px;
    height: 100%;
}

.main-testimonial-wrapper .testimonial-content .content-body .testimonial-box .icon {
    width: 80px;
    height: auto;
}

.main-testimonial-wrapper .testimonial-content .content-body .testimonial-box p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--textColor);
}

.main-testimonial-wrapper .testimonial-content .content-body .testimonial-box .testimonial-profile {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 5px solid var(--primaryColor);
    margin: 30px 0px -40px;
}

/* About Us */

.main-second-banner-wrapper {
    position: relative;
    max-height: 316px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-second-banner-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(8, 23, 46, 0.62) 0%, rgba(48, 28, 10, 0.63) 100%);
}

.main-second-banner-wrapper img {
    max-height: 316px;
    object-fit: cover;
    width: 100%;
}

.main-second-banner-wrapper .banner-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 520px;
    background-color: var(--primaryColor);
    padding: 40px 40px 60px;
}

.main-second-banner-wrapper .banner-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--whiteColor);
    display: block;
    margin-bottom: 30px;
}

.main-second-banner-wrapper .banner-content h2 {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 44px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}


.main-about-schem-wrapper {
    position: relative;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-about-schem-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 571px;
    background: linear-gradient(180deg, rgba(8, 23, 46, 0.62) 0%, rgba(48, 28, 10, 0.63) 100%);
}

.main-about-schem-wrapper>img {
    height: 571px;
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-about-schem-wrapper .about-schem-content {
    z-index: 1;
}

.main-about-schem-wrapper .about-schem-content .content-heading {
    padding: 80px 0px 50px;
}

.main-about-schem-wrapper .about-schem-content .content-heading span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.main-about-schem-wrapper .about-schem-content .content-heading h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-about-schem-wrapper .about-schem-content .content-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-about-schem-wrapper .about-schem-content .content-heading p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--whiteColor);
    margin: 0 auto;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box {
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box .about-box-content {
    padding: 20px;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box .about-box-content p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box .about-box-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    margin: 20px 0px;
    display: block;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box .about-box-content a {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
}

.main-about-schem-wrapper .about-schem-content .content-body .about-us-box img {
    width: 100%;
}

.main-faq-wrapper .faq-figure img {
    width: 100%;
}

.main-faq-wrapper .faq-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.main-faq-wrapper .faq-content h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-faq-wrapper .faq-content h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px 0;
}

.main-faq-wrapper .faq-content p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    margin-bottom: 20px;
}

.main-faq-wrapper .faq-content .accordion .accordion-item {
    border: 0;
    margin-bottom: 20px;
    border-radius: 0;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button {
    border-radius: 0;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 10px 0px #0000001A;
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button:focus {
    border-color: var(--headingColor);
    /* box-shadow: unset; */
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button:not(.collapsed) {
    background-color: var(--headingColor);
    color: var(--whiteColor);
    box-shadow: unset;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button::after {
    content: unset;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button::before {
    flex-shrink: 0;
    width: 18px;
    height: 10px;
    margin-right: 30px;
    content: "";
    background-image: url('data:image/svg+xml,<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.27734 9.42969L0.421875 2.60938C0.105469 2.25781 0.105469 1.73047 0.421875 1.41406L1.23047 0.605469C1.54688 0.289062 2.07422 0.289062 2.42578 0.605469L7.875 6.01953L13.2891 0.605469C13.6406 0.289062 14.168 0.289062 14.4844 0.605469L15.293 1.41406C15.6094 1.73047 15.6094 2.25781 15.293 2.60938L8.4375 9.42969C8.12109 9.74609 7.59375 9.74609 7.27734 9.42969Z" fill="%23D9241B"/></svg>');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-button:not(.collapsed)::before {
    transform: rotate(180deg);
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-body {
    padding: 20px 40px;
}

.main-faq-wrapper .faq-content .accordion .accordion-item .accordion-body p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}

.main-emergency-wrapper .emergency-content {
    padding: 80px 50px;
    background-color: #F5F5F5;
}

.main-emergency-wrapper .emergency-content span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: var(--primaryColor);
    margin-bottom: 20px;
}

.main-emergency-wrapper .emergency-content h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: var(--headingColor);
}

.main-emergency-wrapper .emergency-content h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-emergency-wrapper .emergency-content p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--textColor);
    margin: 0px auto;
    margin-bottom: 30px;
    max-width: 516px;
}

.main-emergency-wrapper .emergency-content .emergency-action .button {
    width: 249.09px;
    padding: 19.61px 27px 20.39px 10.09px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.main-emergency-wrapper .emergency-content .emergency-action span {
    background-color: var(--whiteColor);
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #444444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -20px;
    z-index: 1;
}

.main-meet-team-wrapper {
    margin-bottom: 200px;
}

.main-meet-team-wrapper .row {
    row-gap: 20px;
}

.main-meet-team-wrapper .meet-heading-box span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-meet-team-wrapper .meet-heading-box h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    text-transform: uppercase;
    color: var(--headingColor);
    margin-bottom: 20px;
}

.main-meet-team-wrapper .meet-heading-box p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    margin-bottom: 30px;
}

.main-meet-team-wrapper .meet-heading-box .button {
    width: 147.92px;
    padding: 18px 30.92px 18px 32px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
}

.main-meet-team-wrapper .meet-profile-box img{
    width: 100%;
}

.main-meet-team-wrapper .meet-profile-box .profile-desc {
    padding-top: 20px;
}

.main-meet-team-wrapper .meet-profile-box .profile-desc .name p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #252422;
}

.main-meet-team-wrapper .meet-profile-box .profile-desc .name span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--primaryColor);
}

.main-meet-team-wrapper .meet-profile-box .profile-desc .social .icon {
    width: 24px;
    height: 24px;
    margin: 0px 5px;
}

.main-contact-head-wrapper .main-contact-heading span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.main-contact-head-wrapper .main-contact-heading h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-contact-head-wrapper .main-contact-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-contact-head-wrapper .main-contact-heading p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--textColor);
    max-width: 580px;
    margin: 0 auto;
}

.main-contact-head-wrapper .main-contact-body .contact-info-box {
    padding: 30px;
}

.main-contact-head-wrapper .main-contact-body .contact-info-box img {
    width: 42px;
    height: 42px;
    margin-bottom: 20px;
}

.main-contact-head-wrapper .main-contact-body .contact-info-box p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    text-transform: uppercase;
    color: var(--whiteColor);
    margin-bottom: 10px;
}

.main-contact-head-wrapper .main-contact-body .contact-info-box span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}

.main-contact-head-wrapper .main-contact-body .contact-info-box.gray p {
    color: var(--headingColor);
}

.main-contact-head-wrapper .main-contact-body .contact-info-box.red span {
    color: var(--whiteColor);
}

.main-contact-head-wrapper .main-contact-body .contact-info-box.gray {
    background-color: #F5F5F5;
}

.main-contact-head-wrapper .main-contact-body .contact-info-box.blue {
    background-color: var(--headingColor);
}

.main-contact-head-wrapper .main-contact-body .contact-info-box.red {
    background-color: var(--primaryColor);
}

.main-contact-wrapper .contact-wrap {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.main-contact-wrapper .map {
    height: 100%;
}

.main-contact-wrapper .contact-form {
    padding: 30px;
    background-color: #fff;
    padding: 50px;
    border-radius: 0px 3px 3px 0px;
}

.main-contact-wrapper .contact-form span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: left;
    color: var(--primaryColor);
    margin-bottom: 20px;
    display: block;
}

.main-contact-wrapper .contact-form h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: var(--headingColor);
}

.main-contact-wrapper .contact-form .form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.main-contact-wrapper .contact-form .form-group .custom-form-field {
    width: 50%;
}

.main-contact-wrapper .contact-form label {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: var(--headingColor);
    margin-bottom: 5px;
}

.main-contact-wrapper .contact-form input,
.main-contact-wrapper .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.26px;
    text-align: left;
    color: var(--textColor);
}

.main-contact-wrapper .contact-form textarea {
    resize: none;
    height: 100px;
}

.main-contact-wrapper .contact-form button {
    width: 100%;
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: Adelle Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--primaryColor);
    padding: 20px;
}

.main-contact-wrapper .contact-form button:hover {
    background-color: var(--primaryColor);
}


.main-product-head-wrapper .main-product-heading span {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--primaryColor);
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.main-product-head-wrapper .main-product-heading h3 {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-product-head-wrapper .main-product-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}

.main-product-head-wrapper .main-product-heading p {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--textColor);
    max-width: 580px;
    margin: 0 auto;
}

.main-product-head-wrapper .product-box {
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.main-product-head-wrapper .product-box .product-box-content {
    padding: 20px;
}

.main-product-head-wrapper .product-box .product-box-content p {
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-product-head-wrapper .product-box .product-box-content > span {
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    margin: 20px 0px;
    display: block;
}

.main-product-head-wrapper .product-box-link {
    text-decoration: none;
    height: 100%;
}
.main-product-head-wrapper .product-box-link.page-active .product-box{
    border: 2px solid var(--primaryColor);
}

.main-product-head-wrapper .product-box img {
    width: 100%;
}

.main-product-describe .product-describe-content h3{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-product-describe .product-describe-content h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px 0;
}

.main-product-describe .product-describe-content p{
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}

.main-product-describe .product-describe-content .table-wrapper table{
    width: 100%;
}

.main-product-describe .product-describe-content .table-wrapper .s-no{
    width: 18%;
}

.main-product-describe .product-describe-content .table-wrapper .product{
    width: 45%;
}

.main-product-describe .product-describe-content .table-wrapper .capacity{
    width: 37%;
}

.main-product-describe .product-describe-content .table-wrapper th{
    text-align: center;
    background-color: var(--headingColor);
    color: var(--whiteColor);
    border: 1px solid var(--whiteColor);
    height: 30px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-product-describe .product-describe-content .table-wrapper td{
    text-align: center;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border: 1px solid #F5F5F5;
    height: 30px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-tabs-pills-wrapper{
    padding: 50px 0px;
    background-color: #fbfbfb;
}

.main-tabs-pills-wrapper .tab-pill-heading h3{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-tabs-pills-wrapper .tab-pill-heading h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px auto;
}
.main-tabs-pills-wrapper .nav-pills .nav-item{
    margin: 10px;
}
.main-tabs-pills-wrapper .nav-pills .nav-item .nav-link{
    padding: 18px 27px 18px 27px;
    background-color: var(--headingColor);
    border-radius: 0;
    border: 0;
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.main-tabs-pills-wrapper .nav-pills .nav-item .nav-link.active{
    background-color: var(--primaryColor);
}

.main-tabs-pills-wrapper .product-additional-section p{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-tabs-pills-wrapper .product-additional-section span,
.main-tabs-pills-wrapper .product-additional-section li{
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}

.main-tabs-pills-wrapper .product-additional-section li{
    list-style: disc;
}

.main-tabs-pills-wrapper .product-detail h3{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: var(--primaryColor);
    text-transform: uppercase;
}


.main-tabs-pills-wrapper .product-detail h3::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--primaryColor);
    display: block;
    margin: 30px 0;
}

.main-tabs-pills-wrapper .product-detail p{
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}

.main-tabs-pills-wrapper .product-detail .properties-list p{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: var(--headingColor);
    text-transform: uppercase;
}

.main-tabs-pills-wrapper .product-detail .properties-list .properties-point .icon{
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
}

.main-tabs-pills-wrapper .product-detail .properties-list .properties-point p{
    font-family: var(--Adelle_Sans_Bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
    text-transform: uppercase;
}

.main-tabs-pills-wrapper .product-detail .properties-list .properties-point span{
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--textColor);
}


.main-tabs-pills-wrapper .product-detail .table-wrapper table{
    width: 100%;
}

.main-tabs-pills-wrapper .product-detail .table-wrapper .s-no{
    width: 18%;
}

.main-tabs-pills-wrapper .product-detail .table-wrapper .product{
    width: 45%;
}

.main-tabs-pills-wrapper .product-detail .table-wrapper .capacity{
    width: 37%;
}

.main-tabs-pills-wrapper .product-detail .table-wrapper th{
    text-align: center;
    background-color: var(--headingColor);
    color: var(--whiteColor);
    border: 1px solid var(--whiteColor);
    height: 30px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-tabs-pills-wrapper .product-detail .table-wrapper td{
    text-align: center;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border: 1px solid #F5F5F5;
    height: 30px;
    font-family: var(--Adelle_Sans_Regular);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 992px) { 
    .custom-navbar .navbar-collapse{
        padding: 30px 0px;
    }
}

@media screen and (max-width: 768px) {    
    .topbar-wrapper .topbar-link{
        max-width: 767px;
        overflow-x: auto;
    }
    .topbar-wrapper .topbar-link .t-link{
        white-space: nowrap;
    }
    h2{
        font-size: 32px !important;
        line-height: 1.3em !important;
    }
    h3{
        font-size: 28px !important;
        line-height: 1.3em !important;
    }
}